target/
*.class
*.jar
.idea/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project
nbproject/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
src/main/resources/META-INF/persistence.xml
*.log
dependency-reduced-pom.xml
dependency-reduced-pom.xml
COMANDOS_GIT.txt

